.selling-plants-cont{
    display: flex;
    flex-direction: column;
    padding: 100px 20px;
}

.selling-plants-cont .trendy-plants-main-title-cont{
align-self: center;
padding: 20px;
}

.selling-plants-cont div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px
}
