
.home-page-1-initial-cont{
    display: flex;
    justify-content: space-between;
}


.home-page-left-cont{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.home-page-left-1{
    display: flex;
    flex-direction: column;
    margin: 50px 24px;
}

.home-page-left-1 h1{
    font-size: clamp(50px, 8vw, 100px);
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;

}

.home-page-left-1 p{
    font-size: clamp(12px, 2.5vw, 20px);
    color: #fff;
    width: 80%;
    font-weight: 600;
    margin-left: 5px;
}

.home-page-left-1-inner-cont{
    display: flex;
    align-items: center;
    gap: 20px;
    /* background-color: pink; */
}

.home-page-left-1-inner-cont button{
    font-size: clamp(12px, 2.5vw, 20px);
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 10px;
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
}

.home-page-left-1-inner-cont svg{
    color: #fff;
    /* font-size: 50px; */
    border: 2px solid #fff;
    padding: 9px 12px 9px 14px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.home-page-left-1-inner-cont p{
    font-family: "Indie Flower", cursive;
    font-style: regular;
    font-size: clamp(10px, 2vw, 18px);
    margin: 0px;
    font-weight: 500;
}

.home-page-left-2{
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    backdrop-filter: blur(10px);
    /* border:1px solid rgb(255, 255, 255, 0.2); */
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 90px;
    padding: 20px;
    position: relative;
    background-color:rgb(255, 255, 255, 0.05);    
}

.home-page-left-2::before{

    content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 2px;
  background: conic-gradient(
    from 270deg,
    rgba(255, 255, 255, 0.32) 0%,
    rgba(255, 255, 255, 0.08) 20%,
    rgba(255, 255, 255, 0.02) 50%,
    rgba(255, 255, 255, 0.08) 75%,
    rgba(255, 255, 255, 0.35) 100%,
    rgba(255, 255, 255, 0.32) 100%
  );
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  filter: blur(0.6px);
  z-index: -1;}

.home-page-left-2-profile-cont{
    display: flex;
    align-items: center;
    margin: 4px;
    gap: 16px;
}


.profile-image{
    height: 50px;
    width: 50px;
    background-position:center;
    /* background-size: cover; */
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.profile-name-star-cont{
    display: flex;
    flex-direction: column;
    gap: 0px;
}  

.profile-name-star-cont h1{
    font-size: clamp(12px, 2vw, 20px);
    color: #fff;
    margin: 0px;
    padding-bottom: 0px;
}

.star-icon{
    color: #FFF84E;
    font-size: 14px;
    margin-right: 6px;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    top: -4px;
}

.home-page-left-2 p{
    font-family: "Inter", sans-serif;
    padding: 4px 10px;
    font-size: clamp(10px, 1.5vw, 14px);
    margin: 0px;
    color: #fff;
    width: 300px;
}

.home-right-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px 20px 30px;
    margin-right: 40px;
    /* border: 1px solid rgba(255, 255, 255, 0.2); */
    border-radius: 50px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(15px);
    height: 35vw;
    width:30vw;  
    clip-path: polygon("M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z");

    margin-top: 70px;
    padding-bottom: 10px;
    /* clip-path: path("M 20 70 C 120 40,280 40,380 70 L 380 430 Q 380 450, 360 450 L 40 450 Q 20 450,20 430 Z"); */
}

.home-right-cont::before{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 2px;
    background: conic-gradient(
      from 270deg,
      rgba(255, 255, 255, 0.32) 0%,
      rgba(255, 255, 255, 0.38) 20%,
      rgba(255, 255, 255, 0.02) 50%,
      rgba(255, 255, 255, 0.08) 75%,
      rgba(255, 255, 255, 0.35) 100%,
      rgba(255, 255, 255, 0.32) 100%
    );
    mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    mask-composite: exclude;
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    filter: blur(0.6px);
    z-index: -1;
}



/* .home-right-inner-1{
    flex-grow: 1 !important;
    background-color: pink;
} */


.home-1-plant-imge {
    width: 80%;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}


.home-right-inner-1{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    margin-top: auto;
}

.home-right-inner-1 h1{
    font-size: clamp(12px, 2vw, 20px);
    font-weight: 500;
    color: #fff;
}

.home-right-inner-1 div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.home-right-inner-1 div h1{
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 600;
    color: #fff;
}

.home-right-inner-1 div svg{
    color: #fff;
    font-size: 20px;
}

.home-right-inner-1 button{
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 6px 26px;
    border-radius: 8px;
    font-size: clamp(14px, 2.5vw, 22px);

    font-weight: 400; 
    align-self: flex-start;
    margin-top: 10px;
}

.carousal-buttons{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.carousal-buttons p:first-child{
    width: 12px;
    border-radius: 2px;
}

.carousal-buttons p{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}

@media screen and (max-width: 767px) {
    .home-page-1-initial-cont{
        flex-direction: column;
        padding: 0px;
        width: 100%;
        /* background-color: pink; */
        /* align-items: center; */
    }
    .home-right-cont{
        /* width: 90%; */
        width:  auto !important;
        margin: 100px 20px 20px 20px;
        align-self: flex-end;height: 60vw;
    }
    .home-right-cont img{
        width: 60% !important;
    }
}

@media screen and (min-width: 768px) and (max-width:1000px) {
    .home-page-left-1 h1{
        font-size: 40px;
    }

    .home-page-left-1 p{
        font-size: 16px !important;
        margin: 10px 0px;
        width: 100%;

    }
    .home-right-cont{
        height: 41vw;
        width: 40vw;
    }
}